[Desktop Entry]
Type=Application
Name=ArPiRobot Deploy Tool
Exec=AppRun
StartupWMClass=ArPiRobot-DeployTool
Comment=Code deployment and configuration tool for ArPiRobot robots. 
Icon=arpirobot-deploytool
Categories=
Terminal=false
X-AppImage-Version=0.4.2-beta4
X-AppImage-Name=ArPiRobot-DeployTool
X-AppImage-Arch=x86_64
